@import "normalize.styl"
@import "fonts.styl"

gris_oscuro = #333333
gris_claro = #818181
rojo = #BD255B
boton_rosado = #CC2F6F
social_selected = #5FA9DD

a
	text-decoration none

body
	font-family 'Varela Round', sans-serif
	font-size 16px

.left
	float left

.right
	float right
.button-menu
	position absolute
	margin 0.7em 0 0 0.7em
	left .5em
	color white
	display block

.center-block
	margin 0 auto

.center-text
	text-align center

.relative
	position relative
.border-bottom
	border-bottom 1px solid gris_claro


.container
	padding 1.4rem
	font-size 0
	text-align center

.song
	width 8rem
	display inline-block
	font-size 1rem
	margin-right 1em
	margin-bottom 1em
	text-align left

	&:nth-child(even)
		margin-right 0
	p
		margin .5em 0

figure
	margin 0

img
	vertical-align top

.name
	color gris_oscuro

.author
	color gris_claro

.menu
	display none

.header
	height 3.5em
	.title
		font-size 1.1em
		text-align center
		margin 0
		line-height 3.5em

.progress	
	position relative
	.min
	.max
		font-size 0.8em
		color	gris_claro
	.total
	.state
		border-radius 5px
		height 3px
	.total
		background	gris_claro
		width 75%
		margin 0 auto
		display inline-block
	.state
		background rojo
		width 30%
		position relative
	.circle
		height 8px
		width 8px
		background gris_oscuro
		border-radius 50%
		position absolute
		top -2px
		right 0

.padding
	padding 1em

.padding-tb
	padding 1em 0
.padding-lr
	margin 0 1em

.playing
	.actions
		background rgba(black, 0.2)
		text-align right
		padding .7em 1em .7em 0
		position absolute
		top 16.9em
		left 0
		right 0
		.action
			font-size 1.5em
			color white
	&.small
		width 20em

.description
	p
		margin-top 0
		&:first-child
			margin-bottom 0

a
	text-decoration none


.action
	font-size 1.2em
	margin-right .5em

	&:last-child
		margin-right 0

.play
	.action
		color gray

#playlist
	padding 1em 1.2em
	.name
	.author
		margin 0
	.name
		font-size 1em
		font-weight normal
		color gris_oscuro

	.item
		padding-top 2em
		overflow hidden
		a
			display inline-block
			color gris_oscuro
		.actions
			float right

#share-section
	position fixed
	right 0
	top 0
	width 14.5em
	background rgba(gris_oscuro, .9)
	height 40em
	padding 1em 1em	
	.textarea
		border-radius .3em
		width 100%
		color gris_oscuro
		height 5em
	.submit
		background boton_rosado
		border none
		border-radius .2em
		width 8em
		height 3em
		color white
		text-align center
	.social-select
		font-size 1.5em
		background gris_claro
		color white
		border-radius 50%
		padding .3em
		margin .2em 0.4em 0 0
		&.selected
			background social_selected


.wrapp-1tp
	padding 1em 0